body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.name{
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}
.email{
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}
button{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
  padding: 10px;
  width: auto;
}
.App-logo{
  height: 1px;
}
img{
  width: 50px;
  float:right;
  margin-right: 100px;
}
.all-users{
  border:2px solid green;
  width:100px;
  margin:10px 10px  10px 10px;
  padding:10px 10px;
}
.chatBox{display: block;
  justify-items: normal;
   margin-left: 50% ;
  height: 600px;
  width: 500px;
  border: 2px solid gray;
}
/* .chatBox >li{
  display: block;
  justify-content: normal;
} */
/* .chatBox>input{
  display: flex;
  justify-content:end; 
   margin-left:80%;
   padding-bottom:0px ;
} */
.right{
  float: right;
}
.left{
  float: left;
}
